<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pico.min.css" />
    <title>Quiz</title>
  </head>
  <body>
    {{> header}}
    <main class="container">
        <h1>Quiz</h1>
        <h2>Quiz name: {{ quiz.name }}</h2>
        <p><strong>Category: </strong>{{ quiz.category }}</p>
        <p><strong>Created by: </strong> {{ quiz.user }} </p>
        <p><strong>Date created: </strong>{{ quiz.created }}</p>
        <form action="/quizCheck" method="POST">
        {{#each quiz.questions }}
        <p><strong>Question</strong></p>
        <p>{{ this.question }}</p>
        <select name="answer">
            {{#each this.answers }}
                <option value="{{ @index }}">{{ this }}</option>
            {{/each}}
        </select>
        {{/each}}
        <input type="hidden" name="quizID" value="{{ quiz._id }}">
        <input type="submit">
        </form>
    </main>
  </body>
</html>